.App {
  text-align: center;
}

.App-header {
  background-color: #000;
  border: 4px solid #444;
  height: 3rem;
  width: 100vw;
  color: #EEE;
}

.App-title {
  font-size: 1em;
}

.Container {
  display: flex;
  flex-basis: 4;
}

.Display {
  flex: 3;
  height: 100vh;
  border: 4px solid #777;
  overflow: hidden;
}

.DisplayLayer {
  position: absolute;
}

.Editor {
  flex: 1;
  height: 100vh;
  border: 4px solid #777;
}
